body{
    min-width: 300px;
    min-height: 300px;
}

.container{
    padding: 15px;
}

label{
    display: block;
}

input{
    margin-bottom: 20px;
}

textarea{
    width: 100%;
    margin-bottom: 10px;
}

.btn{
    text-align: right;
}