*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 347px;
    background-color: #1f1f31;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    position: relative;
}

main{
    padding: 10px 16px;
}

header{
    margin-bottom: 15px;
}

h1{
   font-size: 2rem; 
}

ul{
    list-style-type: none;
    max-height: 321px;
    scrollbar-width: thin;
    overflow-y: auto;
    padding-bottom: 20px;
    
}

li{
    /* padding: 16px; */
    border: 1px solid #38384c;
    border-radius: 5px;
    margin: 8px 20px 8px 2px;
    background-color: #1c1c2c;

}

.prompt-title{
    display: flex;
    gap: 25px;
    /* justify-content: space-between; */
}

li a{
    padding: 10px;
    display: inline-block;
}

.del-btn{
    background-color: #1c1c2c;
    align-self: center;
}

.prompt-text{
    border-top: 1px solid #38384c;
    padding: 12px 10px;
}

.btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: auto;
    position: absolute;
    bottom: 10px;
    right: 10px;
    box-shadow: 5px 5px 10px rgba(31, 31, 49, 0.3);
    cursor: pointer;

}

